@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  position: relative;
  width: 100%;
  font-family: 'Poppins', sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  padding: 2rem;
  background-color: #f1faee;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-bottom: 2.5rem;
}

.header h1 {
  font-size: 5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: #f08080;
}

.input-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.input-section input {
  padding: 2rem;
  border-radius: 1.5rem;
  color: #000;
  border: none;
  font-size: 2rem;
  background-color: #ffe5d9;
}

.input-section input:focus {
  outline: none;
  box-shadow: 0 0 0 0.5rem rgba(240, 128, 128, 0.454);
}

.i-title,
.i-desc {
  width: 30%;
}

.input-section input::placeholder {
  color: #999 !important;
}

.btn {
  width: 5rem;
  height: 5rem;
  cursor: pointer;
  font-size: 3.5rem;
  padding: 0.5rem;
  border: none;
  color: #ffe5d9;
  border-radius: 1rem;
  background-color: #f72585;
}

.btn:hover {
  background-color: #ff499b;
}

.update {
  width: 7rem;
  font-size: 1.4rem;
  padding: 1rem;
  text-align: center;
}

.table {
  width: 100%;
}

.t-head tr {
  background-color: #f8ad9d;
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  font-size: 2.5rem;
  font-weight: 400;
}

th {
  text-align: left;
}

.th-1 {
  width: 20%;
  text-align: left;
}

.t-head th:nth-child(2) {
  width: 8%;
}

.t-head th:nth-child(3) {
  width: 5%;
}

.t-head th:nth-child(5) {
  width: 6.5%;
}

.t-head th:nth-child(6) {
  width: 8%;
}

.todos-list-body {
  width: 100%;
  background-color: #ffe5d9;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  font-size: 1.8rem;
  font-weight: 400;
}

.todos-list-body .todo-item {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.8rem;
  font-weight: 400;
}

.todo-item:not(:last-child) {
  border-bottom: 1px solid #fff;
}

.td {
  overflow-x: scroll;
  width: 20%;
  text-align: left;
}

.td::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.todo-item td:nth-child(2) {
  width: 8%;
}

.todo-item td:nth-child(3) {
  width: 5%;
}

.todo-item td:nth-child(5) {
  width: 6.5%;
}

.todo-item td:nth-child(6) {
  width: 8%;
}

.btn-3 {
  display: flex;
  width: min-content;
  flex-direction: row;
  justify-content: space-between;
  /* gap: 2rem; */
}

.delete,
.complete,
.edit {
  border: none;
  background: transparent;
  gap: 1.5rem;
}

.delete i,
.complete i,
.edit i {
  font-size: 2rem;
  cursor: pointer;
}

.e-input {
  padding: 1rem;
  border-radius: 1.5rem;
  color: #000;
  border: none;
  font-size: 2rem;
  outline: none;
  background-color: #fff;
}
